# Node/Next
node_modules
.next
out

# Logs
npm-debug.log
yarn-error.log
pnpm-debug.log

# OS/IDE
.DS_Store
.idea
.vscode
.zed
.fleet

# Env
.env
.env.*

# Docker/compose
docker-compose.override.yml
fly.toml
